.aside {
    width: 18%;
    border-right: 1px solid hsl(0, 0%, 90%);

}

.asideDiv {
    padding: 10px 0;
}

.logoContainer {
    height: 70px;
    margin: 0;
    padding-left: 30px;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    display: flex;
    align-items: center;
}

.logoContent {
    display: flex;
    align-items: center;
    width: 150px;
    margin: 0;
    padding: 0;
}

.darkModeContainer {
    display: flex;
    align-items: flex-end;
}

.darkMode {
    padding-left: 30px;
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
        transition-duration: 0.3s;
        color: rgb(66, 198, 241);
        cursor: pointer;

        i {
            color: rgb(66, 198, 241);
            transition-duration: 0.3s;

        }
    }


    i {
        transition-duration: 0.3s;
        padding-right: 30px;
        color: grey;


    }
}