#dropdown {
    margin-right: 50px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 6px 10px 27px -13px rgba(0, 0, 0, 0.71);
    outline: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}