.notificationsContainer {
    position: relative;
}
.icon {
    font-size: 23px;
    margin: 15px;
    position: relative;
}

.notificationDot {
    top: 30px;
    left: 30px;
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: rgb(35, 163, 202);
    border-radius: 50%;
}